.main {
  display: grid;
  grid-template-rows: [nav-start]80px[nav-end body-start] 1fr [body-end];
  &__body {
    grid-row: body-start / body-end;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
