.product {
  background-color: #e9efff;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border-radius: 2rem;
  &__title {
    grid-row: 1 / span 1;
    grid-column: 1/-1;
    font-size: 1.5rem;
    font-weight: 700;
  }
  &__price {
  }
  &__checkout {
    display: grid;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
  }
  &__quantity {
    &--btn {
      height: 1.3rem;
      border: none;
      outline: none;
      cursor: pointer;
      background-color: darken(#e9efff, 10%);
      &:hover {
        background-color: darken(#e9efff, 20%);
      }
      &:active {
        background-color: darken(#e9efff, 15%);
      }
      &:disabled {
        background-color: darken(#e9efff, 5%);
      }
    }
    &--number {
      width: 2rem;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
      &:disabled {
        background-color: white;
      }
    }
  }
  &__button {
    padding: 5px 10px;
    border-radius: 33px;
    height: 30px;
    background-color: #2a00c8;
    color: white;

    font-size: 1rem;
    border: none;
    cursor: pointer;
    display: grid;
    align-items: center;
    justify-content: center;

    transition: all 0.2s;
    &:hover {
      background-color: #6448d9;
    }
    &:focus,
    &:active {
      border: none;
      outline: none;
    }
    &:disabled {
      background-color: rgba(#2a00c8, $alpha: 0.4);
      cursor: auto;
    }
  }
}
