.cart {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 1rem;

  &__dropdown {
    position: absolute;
    transform: translate(-80%, 20px);
    background-color: #e9efff;
    width: 20rem;
    height: auto;
    border-radius: 20px;
  }
  &__header {
    border-radius: 20px 20px 0 0;
    background-color: darken(#e9efff, 5%);
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    align-items: center;

    &--amount {
      justify-self: start;
      padding: 1rem;
    }
    &--price {
      justify-self: end;
      padding: 1rem;
    }
  }
  &__body {
    background-color: #e9efff;
    display: grid;
  }
  &__item {
    display: grid;
    grid-template-columns: 90px 1fr;
    justify-content: center;
    align-items: center;

    &--img {
      padding: 1rem;
      width: 4rem;
    }
    &--details {
      padding: 1rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
    &--name {
      font-size: 1.2rem;
      color: black;
      grid-column: 1/-1;
    }
    &--price {
      justify-self: end;
      width: 3rem;
    }
    &--amount {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &__footer {
    margin: 1rem;
    padding: 5px 20px;
    border-radius: 33px;
    height: 30px;
    background-color: #2a00c8;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    display: grid;
    align-items: center;
    justify-content: center;

    transition: all 0.2s;
    &:hover {
      background-color: #6448d9;
    }
    &:focus,
    &:active {
      border: none;
      outline: none;
    }
    &:disabled:hover {
      background-color: rgba(#2a00c8, $alpha: 0.4);
    }
    &:disabled {
      background-color: rgba(#2a00c8, $alpha: 0.4);
      cursor: auto;
    }
  }
  &__selector {
    width: 100%;
    select {
      width: 100%;
    }
  }
}
