.navbar {
  grid-row: nav-start / nav-end;
  display: grid;
  grid-template-columns: [nav-start]1fr [nav-link-start] 60% [nav-link-end] 1fr[nav-end];
  align-items: center;
  background-color: #e9efff;
  &__logo {
    grid-column: nav-start / nav-link-start;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    &--img {
      cursor: pointer;
    }
  }
  &__links {
    grid-column: nav-link-start / nav-link-end;
    display: grid;
    grid-template-columns: repeat(8, max-content);
    column-gap: 1rem;
    justify-self: end;
    align-items: center;
    &--link {
      display: grid;
      align-items: center;
      color: #2a00c8;
      height: 80px;
      cursor: pointer;
    }
    &--button {
      padding: 5px 20px;
      border-radius: 33px;
      height: 50px;
      background-color: #2a00c8;
      color: white;
      font-weight: 700;
      font-size: 1rem;
      border: none;
      cursor: pointer;

      transition: all 0.2s;
      &:hover {
        background-color: #6448d9;
      }
      &:focus,
      &:active {
        border: none;
        outline: none;
      }
    }
  }
  &__cart {
    grid-column: nav-link-end / nav-end;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
}
// #6448D9
